@import '../../variables.scss';

.back-to-top-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  opacity: 0;
  display: inline-block;
  height: 45px;
  width: 45px;
  color: #fff;
  border: none;
  border-radius: 3px;
  user-select: none;
  padding: 0 7px;
  font-size: 18px;
  line-height: 40px;
  background-color: #fbb710;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  outline: none;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,.3);
  &:hover {
    color: $text-white;
    background-color: $background-black;
  }

  &--active {
    opacity: 1;
  }
}